body {
  font-family: roboto, calibri, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.header __logo {
  margin-bottom: 1em;
}

.header-choice {
  margin: 0;
  background-color: #f5f4f4;
}

.header-choice h1 {
  font-size: 1.4rem;
  font-weight: 900;
  font-family: roboto, calibri, sans-serif;
  text-align: center;
  margin: 1.5em 1.3em 0.7em 1.3em;
}

.header-choice p {
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  margin: 0.8em 1em 2em 1em;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#929191), color-stop(#e4e3e3), color-stop(#e4e3e3), color-stop(#e4e3e3), to(#e4e3e3));
  background: linear-gradient(#929191, #e4e3e3, #e4e3e3, #e4e3e3, #e4e3e3);
  text-align: center;
  padding-bottom: 0.5em;
}

.header-nav form {
  padding-top: 0.5em;
}

.header-nav input[type=text] {
  border: none;
  background-color: #e4e3e3;
  font-weight: bold;
  color: black;
}

.header-nav i {
  font-size: 1em;
  padding-left: 5em;
}

.button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  font-weight: 600;
  -webkit-box-shadow: 2px 4px 4px #b1b0b0;
          box-shadow: 2px 4px 4px #b1b0b0;
  padding: 0;
  margin: 0 3rem;
  margin-bottom: 2em;
}

.button p {
  text-align: center;
  margin: 1em 0 1.2em 0;
}

main {
  margin: 0;
}

.regles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.regles h2 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: roboto, calibri, sans-serif;
  margin: 1em;
}

.regles li {
  border: 1px solid #f5f4f4;
  border-radius: 4px;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4f4;
}

.restaurants-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0 white solid;
  border-radius: 20px;
  background-color: white;
  margin: 1em;
  height: auto;
}

.restaurants-list__details {
  color: black;
  margin: 0 1em;
  line-height: 0.5em;
}

.restaurants-list__details h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.restaurants-list__details p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants-list img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 18px 18px 0 0;
}

.restaurants h2 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: roboto, calibri, sans-serif;
  margin: 1em;
  padding-top: 1em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  background-color: #4d4b4b;
  text-decoration: none;
  color: white;
}

.footer img {
  size: 0.5em;
  width: 35%;
  padding-bottom: 1em;
}

.footer a {
  color: white;
  padding-top: 0.3em;
}

.footer a i {
  padding-right: 0.8em;
}
/*# sourceMappingURL=style.css.map */