body {
  font-family: roboto, calibri, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.header __logo {
  margin-bottom: 1em;
}

.header-choice {
  margin: 0;
  background-color: #f5f4f4;
}
.header-choice h1 {
  font-size: 1.4rem;
  font-weight: 900;
  font-family: roboto, calibri, sans-serif;
  text-align: center;
  margin: 1.5em 1.3em 0.7em 1.3em;
}
.header-choice p {
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  margin: 0.8em 1em 2em 1em;
}

.header-nav {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#929191, #e4e3e3, #e4e3e3, #e4e3e3, #e4e3e3);
  text-align: center;
  padding-bottom: 0.5em;
}
.header-nav form {
  padding-top: 0.5em;
}
.header-nav input[type=text] {
  border: none;
  background-color: #e4e3e3;
  font-weight: bold;
  color: black;
}
.header-nav i {
  font-size: 1em;
  padding-left: 5em;
}

.button {
  justify-content: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  font-weight: 600;
  box-shadow: 2px 4px 4px #b1b0b0;
  padding: 0;
  margin: 0 3rem;
  margin-bottom: 2em;
}
.button p {
  text-align: center;
  margin: 1em 0 1.2em 0;
}

main {
  margin: 0;
}

.regles {
  display: flex;
  flex-direction: column;
}
.regles h2 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: roboto, calibri, sans-serif;
  margin: 1em;
}
.regles ol {
  list-style-type: decimal;
  text-decoration: none;
}
.regles li {
  font-size: 0.9em;
  font-weight: bold;
  border: 1px solid #f5f4f4;
  border-radius: 20px;
  box-shadow: 2px 2px 8px 2px #e2e0e0;
  margin: 1em 2em 2em 0.5em;
  padding: 1em;
}
.regles li i {
  padding-right: 1em;
  color: #929191;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f4f4;
}
.restaurants h2 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: roboto, calibri, sans-serif;
  margin: 1em;
  padding-top: 1em;
}
.restaurants-list {
  justify-content: center;
  border: 0 white solid;
  border-radius: 20px;
  background-color: white;
  margin: 1em;
  height: auto;
}
.restaurants-list__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  margin: 0 1em 0.5em 1em;
  line-height: 0.5em;
}
.restaurants-list__details h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.restaurants-list__details a:hover {
  text-decoration: none;
}
.restaurants-list figure {
  margin-bottom: 0.8em;
}
.restaurants-list img {
  object-fit: cover;
  width: 100%;
  border-radius: 18px 18px 0 0;
}

.heart {
  font-size: 1.5em;
  text-align: right;
  color: black;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2em 1em 2em 1.5em;
  background-color: #3a3939;
  text-decoration: none;
  color: white;
}
.footer img {
  width: 35%;
  padding-bottom: 1.2em;
}
.footer a {
  color: white;
  padding-top: 0.3em;
}
.footer a i {
  padding-right: 0.8em;
}
.footer .fa-hands-helping {
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
